#statuspanel {
 margin: 10px !important;
}

#statuspanel-label {
 border-radius: 100px !important;
 padding: 6px 12px !important;
 border: 1px solid var(--panel-separator-color) !important;
 background: var(--arrowpanel-background) !important;
}